body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1;
}


/* * Style for Divider */

.wrapper {
    padding-bottom: 40px;
}

.divider {
    position: relative;
    margin-top: 40px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 95%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(72, 8, 175), transparent);
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 2px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(72, 8, 175);
    border-radius: 0;
    border-bottom: 10px solid rgb(47, 4, 117);
}

p {
    text-align: center;
    margin-top: 15px;
}

.time-block {
    border-radius: 5px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.planner {
    border-radius: 25px;
    box-shadow: 2px black;
}

#9AM {
    border-radius: 5px;
}

#10AM {
    border-radius: 5px;
}

#11AM {
    border-radius: 5px;
}

#12AM {
    border-radius: 5px;
}

#1PM {
    border-radius: 5px;
}

#2PM {
    border-radius: 5px;
}

#3PM {
    border-radius: 5px;
}

#4PM {
    border-radius: 5px;
}

#5PM {
    border-radius: 5px;
}

textarea p {
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.btn {
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: rgb(83, 11, 124);
    border-radius: 25px;
    box-shadow: rgba(4, 0, 5, 0.1) 0px 1px 6px 0px rgba(4, 0, 5, 0.1) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 1.25rem;
    line-height: 10px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #c395f8;
    color: rgb(83, 11, 124);
}

.bg-now {
    background-color: #cfdce9da;
    color: rgb(83, 11, 124);
}

.bg-future {
    background-color: #c697fc;
    color: rgb(83, 11, 124);
}

.bg-past {
    background-color: rgba(83, 11, 124, 0.753);
    color: #ebecec;
}